<!doctype html>
<html>
  <head>
    <title>CanvassOhio</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Select a state congressional district</h1>
    {% from "_formhelpers.html" import render_field %}
    <form action="/" method="post">
      <select name="districts" method="GET" action="/">
	{% for key,value in districts %}
	<option value="{{key}}" >District {{key}}</option>
	{% endfor %}
      </select>
      <input type="submit">
    </form>
    <br/>
    {% if data %}
    <div>Best precincts to canvass in that district:{{ data0 }} (leans {{lean0}}), {{data1}} (leans {{lean1}}), {{data2}} (leans {{lean2}}) </div>
    <img src="{{ url_for('static', filename=fname) }}" height="500"/>
    {% else %}
    <img src="/static/Ohio_map.png" height="500"/>
    {% endif %}
  </body>
</html>

